<div class="card">
    <div class="card-body">
        <h2>{{postagem.titulo}}</h2>
        <hr>
        <p class="mb-8">{{postagem.conteudo}}</p>
        <hr>
        <small>Data de publicação:{{postagem.data}}</small>

    </div>
</div>
